* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image-size {
  height: 200px;
  width: 300px;
}
ul {
  list-style-type: none;
  gap: 20px;
  font-size: 25px;
  font-weight: 700;
}
li:hover {
  text-decoration: underline;
}
.bg-container {
  background-image: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1724952773/1520180926563_jadgvd.jpg");
  min-height: 100vh;
  background-size: cover;
  overflow: auto;
  /* padding-top: 100px; */
  padding-bottom: 100px;
}
.button-size {
  margin-right: 20px;
}
