* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  background-color: #b4b7ae;
  border-radius: 12px;
  padding: 12px;
}
