.data-modeling-container {
  background: url("https://res.cloudinary.com/dvxkeeeqs/image/upload/v1726505185/istockphoto-1407983911-612x612_hi0th1.jpg"),
    rgba(76, 175, 80, 0.6);
  min-height: 100vh;
  background-size: cover;
  overflow: auto;
  /* padding-top: 100px; */
  padding-bottom: 100px;
}

.website-header {
  background-color: #2e81a2;
  height: auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
}
.website-heading {
  color: #fff;
  font-family: "Roboto";
  font-size: 38px;
  font-weight: 600;
  cursor: pointer;
}
.website-heading:hover {
  text-decoration: underline;
  /* font-size: 45px; */
  transition: all 0.6s ease-in-out;
}
@media screen and (max-width: 576px) {
  .website-heading {
    font-size: 30px;
  }
}
.user-icon {
  width: 50px;
  height: 50px;
  color: #000;
  background-color: #fff;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #000;
}
@media screen and (max-width: 576px) {
  .user-icon {
    width: 35px;
    height: 35px;
  }
}
.user-icon:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 3px 3px 0px #fff;
  cursor: pointer;
}
.data-models-section-container {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #fff;
  height: auto;
  border-top: 2px solid #000;
  min-height: 100vh;
  padding: 0;
  width: 100%;
  /* margin: 0; */
}
.workflows-section {
  /* color: #0a32b6; */
  flex: 1.3;
  background-color: #10a3dd;
  text-align: center;
  padding: 16px;
}
.use-case-heading {
  color: #099fb3;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 26px;
  margin-top: 25px;
  /* margin-bottom: 25px; */
  /* text-shadow: 2px 0px 0 #fff; */
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
}
.use-case-heading:hover {
  text-decoration: underline;
  /* font-size: 27px; */
  background-color: #000;
  color: #fff;
  /* transition: all 0.4s ease-in; */
}
.data-model-types {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* height: 70vh; */
}
.model-name {
  color: #fff;
  width: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 700;
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}
.model-name:hover {
  /* font-size: 23px; */
  text-decoration: underline;
  transition: all 0.4s ease-in-out;
  background-color: #323032;
  opacity: 0.8;
}
.datasets-section {
  color: #310cb3;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  opacity: 0.9;
  border-right: 1px solid #4ba8a8;
  padding: 12px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.charts-section {
  color: #310cb3;
  flex: 5;
  padding: 0 8px 0 8px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #000; */
}
.charts-container {
  display: flex;
  /* justify-content: space-between; */
  height: 45vh;
  width: 100%;
  /* background-color: #000; */
}
@media screen and (max-width: 768px) {
  .charts-container {
    flex-direction: column;
  }
}
.pie-chart {
  flex: 1;
}
.bar-chart {
  flex: 1;
  /* max-width: 500px; */
}
.table-container {
  /* width: 500px; */
  margin: 0 20px 20px 20px;
  width: auto;
  overflow-y: scroll;
  height: 55vh;
  border: 2px solid #000;
  background-color: #2c829a;
  padding: 5px;
}
